@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* BEM naming convention has been used for CSS class names */

/* variables in CSS - this is to keep all used colors at one place and use whenever is needed */
:root {
  --primary-color: #7c3aed;
  --hover-color: #6d28d9;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

/* typography */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding: 0 rem 1 rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  /* max-width: 300px; */
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.link:hover,
.link:active {
  background-color: var(--hover-color);
}

.link-primary:hover,
.link-primary:active {
  border: 1px solid var(--hover-color);
}

.link-secondary:hover,
.link-secondary:active {
  border: 1px solid var(--hover-color);
  color: white;
}

/* lists */
.list-non-bullet {
  list-style: none;
}

.list-non-bullet p {
  padding-bottom: 1rem;
}

.list-non-bullet div {
  margin-bottom: 3rem;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: white;
}

.nav-pills {
  text-align: right;
}

.nav-brand {
  font-weight: bold;
}

.link-active {
  font-weight: bold;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero-image {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: auto;
}

.hero-heading {
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
}

.hero-heading span {
  color: var(--primary-color);
}

/* sections */
section {
  padding: 2rem;
}

section h1 {
  text-align: center;
}

.off-white {
  background-color: var(--off-white);
}

/* footer */
footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer-header {
  font-weight: bold;
  font-size: large;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul {
  padding-inline-start: 0px;
}

ion-icon {
  font-size: 160%;
  pointer-events: none;
  padding: 0.5rem 1rem;
  vertical-align: middle; /* to align the icon with the text */
}

footer p {
  font-size: smaller;
}

footer p ion-icon {
  padding: 0 0.5rem;
}

/* Blogs */
.blog-link {
  color: var(--primary-color);
  text-decoration: none;
  padding-bottom: 0.5rem;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

.blog-para {
  font-size: medium;
  font-weight: 400;
  line-height: 2;
}

.blog-para a {
  text-decoration: none;
  color: var(--primary-color);
}

.ul-no-padding {
  padding-inline-start: 0;
}
